@charset "UTF-8";

* {
    text-decoration: none;
}

body {
    background-color: darkcyan;
    font-family: Times New Roman;
    font-size: 20px;
}

h1 {
    color:blue;
    background-color: blanchedalmond;
}

h2 {
    color:blueviolet;
}

p {
    text-align: justify;
}